.snip1556 figcaption {
    background-color: #131212;
    bottom: 30px;
    left: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.snip1556 *, .snip1556 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}



snip1556 img {
    box-shadow: 0 15px 35px 0 rgba(28,30,35,0.2);
    max-width: 100%;
    position: relative;
    vertical-align: top;
}
.snip1556 *, .snip1556 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.snip1556 {
    
    color: #000000;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    max-width: 310px;
    min-width: 162px;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none !important;
    padding: 30px 40px 0 0;
}
.snip1556 *, .snip1556 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-
}

.snipp1556 h3 {
    font-size: 15px;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    color: #000;
    left: 100%;
    letter-spacing: 1px;
    margin: 29px 0;
    opacity: 0.8;
    padding: 4px 40px 0 0;
    right: 0;
    text-transform: uppercase;
    top: 0;
    white-space: nowrap;
    font-weight: 400;
}
body.button_b .snip1556 .step_number {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 50%;
}
.snip1556 .step_number {
    background: #d5ac63;
}
.snip1556 .step_number {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    height: 41px;
    width: 41px;
    line-height: 41px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 1;
    margin-top: 30px;
}
.snip1556 *, .snip1556 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.snip1556 {
    color: #000000;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    max-width: 310px;
    min-width: 162px;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none !important;
    padding: 30px 40px 0 0;
}
.snip1556 *, .snip1556 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}