*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius:200px;
    text-transform: uppercase;
    transition: background-color 0.2s, border 0.2s; 
}
.btn-full{
    background-color: #d5ac63;
    border: 1px solid #d5ac63;
    letter-spacing: 2px;
}
.btn-full:hover{
	background-color: #777;
	border: 1px solid #777;
	color:#fff;
}
h2{
	font-size: 300%;
	font-weight: 400;
}

h2:after{
    content:"";
    display: block;
    background-color:#d5ac63;
    height: 5px;
    width:100px;
    text-align: left;
    margin-top:20px;
}
.bottom-line{
    border-bottom: 5px solid #d5ac63;
    width:120px;
    margin: 0 auto;
}
h3{
    font-size: 120%;
    font-weight: bold;
}
section {
    padding: 80px 0;
}

.navbar-default {
  background-color: #ffffff;
  border-color: white;
  margin-bottom: 0
}
.navbar-default .navbar-brand {
  color: #000000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color:#d5ac63 ;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-nav{
	margin-right: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
  padding: 30px 30px;
  font-size: 120%;
  font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d5ac63;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d5ac63;
  /*background-color: #d5ac63;*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #d5ac63;
}
.navbar-default .navbar-toggle {
  border-color: #d5ac63;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d5ac63;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}
@media only screen and (max-width: 767px), only screen and (min-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;

  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #d5ac63
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #d5ac63;
  }
}
.carousel{
	margin: 0;
}
header .carousel-inner .item{
    height: 100vh;
}
.carousel-caption {
	text-align: left;
    top: 30%;
    /*left: -30%;
    transform: translate(0%, 10%)*/;
    }
.carousel-caption{padding-bottom: 150px;}
.intro-text{
	text-transform: uppercase;
	letter-spacing: 6px;

}
.primary-heading{
	word-spacing: 4px;
	letter-spacing: 4px;
}
primary-text{
    overflow-wrap: break-word;
}
.secondary-text{
	word-spacing: 2px;
	font-family: sans-serif;
	font-size: 125%;
	padding: 10px 0;
}

.hero-banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.about_image{
	width: 100%;
}
.about-features{
    padding:30px 0;
}
.parent-wrapper{margin: 0;padding: 0;}
.about-circle{
    margin: 0;
    padding: 0;
}
div.icon-holder{
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    background: #41484e;
    float: left;
    margin: 0 10px 10px 10px;
    border: 1px solid #41484e;
    position: relative;
    box-shadow:  0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
}
div.icon-holder > .font-icon {   
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    font-size: 200%;
}
.about-circle .secondary-text{
    word-spacing: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
    padding: 0;
    font-weight: bold;
}
.section-custom-built{
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/bg_para_trans.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    color:white;
}
.left-part{
    padding: 0 0 0 150px;
    border: 1px solid red;
    margin: 0;
}
.right-part{
    border: 1px solid red;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.float-container{
    display: block;
    float:left;
    width:19vw;
    margin:0 1%;
}
.card-container{
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
}
.card-container img{
    width: 100%;
    height: auto;
}
.card-text{
    padding: 15px 15px;
    color:white;
    background-color: #41484e;
}
.card-text p{
    padding: 0 0 0 20px;
}
/*--------Work Process-------*/
.work-process{
    padding: 50px 0;
}
.design-container{
    /*position: relative;
    width: 100%;
*/  
    color: #000000;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    /*max-width: 310px;
    min-width: 162px;*/
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none !important;
    padding: 30px 40px 0 0;
}
.design-container img{
    /*max-width: 100%;
    position: relative;
    vertical-align: top;*/
    box-shadow: 0 15px 35px 0 rgba(28,30,35,0.2);
    max-width: 100%;
    position: relative;
    vertical-align: top;
    border-radius: 10px;
}
.design-container figcaption{
    /*background-color: dimgrey;
    color:black;
    position: absolute;
    top:0;
    bottom:20px;*/
    background-color:#41484e;
    bottom: 30px;
    left: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;

}

.card-number{
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    height: 41px;
    width: 41px;
    line-height: 41px;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 1;
    margin-top: 30px;
    background: #d5ac63;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 50%;
}
.design-container h3 {
    font-size: 15px;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    color: #fff;
    left: 95.5%;
    letter-spacing: 1px;
    margin: 29px 0;
    opacity: 0.8;
    padding: 4px 20px 0 20px;
    right: 0;
    text-transform: uppercase;
    top: 0;
    white-space: nowrap;
    font-weight: 400;
    
}
.section__promo{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('../img/m2.jpg');
    color: #fff;
    background-size: cover;
    background-position: center;
}
.promo__right{
    text-align: center;
}
.promo__image{
}
.promo__image img{
    display: inline-block;
    width: 90%;
    height: auto;
    border-radius: 10px;
}
.up_video {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}
.up_video:before {
    background: #41484e;
}
.up_video:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
.up_video:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border: 5px solid #fff;
    border-radius: 50%;
    transition: all 200ms;
}
.up_video i{
    display: inline-block;
    position: relative;
    z-index: 3;
    font-size: 35px;
    line-height: 45px;
    color: #fff;
    text-align: center;

}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}


/*nav pills modification*/ 

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 25px;
  color:#000;
  background-color:white; 
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #337ab7;
}
.nav-pills > li > a {
  border-radius: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}
.nav-pills > li + li {
  margin-left: 10px;
}
.tab-content{
    margin-top: 2rem;
}
.pills__home{
    background-image: url('../img/m3.jpg');
    background-size: cover;
    width: 100%;
    height: 430px;
}

.section_catalog{
    background:#f7f7f7;
}
.catalog_image img{
    margin-top: 3.0rem;
    display: inline-block;
    width:80%;
}
.u_margin_top{
    margin-top: 1.5rem;
}